DEPLOYMENT_MODE=local
DJANGO_SETTINGS_MODULE=core_api.settings.local
DJANGO_SECRET_KEY=change-me
API_URL=http://localhost:8000/api/
POSTGRES_DB=appdb
POSTGRES_USER=admin
POSTGRES_PASSWORD=change-me
CELERY_BROKER_URL=redis://localhost:6379/0
IMAGE_STORAGE_BACKEND=local
ML_CLOUD_URL=https://your-cloud-api.example.com/api/ml/
